body {
  font-size: 16px;
  color: #fff;
  background-color: #0375b4;
  font-family: 'Raleway', sans-serif;
}

/* START HEADER */

#header-nav {
  background-color: #ffce00;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-brand h1 { /* Client's Company Name */
  /* Yes, this font is not adequate for the Web Page. Just put it to test
     the feature of changing font sizes in the project
  */
  font-family: 'Josefin Slab', serif;
  color: #007849;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #007849;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
}

#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;
}

#nav-list a {
  font-size: 1.2em;
  color: #fff;
  border-color: #ffce00;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

#nav-list #last-nav-list-item {
  border-width: 1px 1px 1px 1px;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list {
  background-color: #0375b4;
  margin-top: 0;
  margin-bottom: 0;
}

/* END HEADER */

/*#main-content {
  clear: both;
}*/

/* START MAIN-CONTENT */
#main-content h2 {
  text-align:center;
  font-size: 3em;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.main-section {
  padding-top: 5px;
  background-color: #007849;
  color: #fff;
  margin-bottom: 20px;
}

.main-section h3 {
  text-transform: capitalize;
  text-align: center;
  font-size: 2em;
  margin-bottom: 15px;
}

.main-section p {
  padding: 20px;
  text-align: justify;
}

.main-section a {
  padding: 20px;
  color: #fff;
}


/* END MAIN-CONTENT */
